{% if dehydrated | cert_exists(solr.domain) %}
server {
  listen 0.0.0.0:80;
  listen [::]:80;
  {% if ansible_local.proserver | default(none) and ansible_local.proserver.routing.with_gate64 -%}
  listen [::1]:87 proxy_protocol;
  {%- endif %}

  server_name {{ solr.domain }};

  root /var/null;

  location / {
    return 301 https://$host$request_uri;
  }

  include {{ nginx.prefix.config }}/include/letsencrypt.conf;
}
{% endif %}
server {
    {% if dehydrated | cert_exists(solr.domain) -%}
    listen 0.0.0.0:443 ssl;
    listen [::]:443 ssl;
    {% if ansible_local.proserver | default(none) and ansible_local.proserver.routing.with_gate64 -%}
    listen [::1]:57 ssl proxy_protocol;
    {%- endif %}
    http2 on;
    {% else %}
    listen 0.0.0.0:80;
    listen [::]:80;
    {% if ansible_local.proserver | default(none) and ansible_local.proserver.routing.with_gate64 -%}
    listen [::1]:87 proxy_protocol;
    {%- endif %}
    {% endif %}

    server_name {{ solr.domain }};

    include {{ nginx.prefix.config }}/include/security_headers.conf;

    client_max_body_size 100M;

    {% if solr.oauth2_proxy -%}
    location /proserver/iap {
        proxy_pass http://[::1]:{{ oauth2_proxy.config[solr.oauth2_proxy].http_address.split(":")[-1] }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Auth-Request-Redirect $request_uri;
    }

    location = /proserver/iap/auth {
        proxy_pass http://[::1]:{{ oauth2_proxy.config[solr.oauth2_proxy].http_address.split(":")[-1] }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Content-Length "";
        proxy_pass_request_body off;
    }
    {% endif %}

    location / {
        {% if solr.oauth2_proxy -%}
        auth_request /proserver/iap/auth;
        error_page 401 = /proserver/iap/sign_in;
        auth_request_set $auth_cookie $upstream_http_set_cookie;
        add_header Set-Cookie $auth_cookie;
        {% endif %}

        proxy_pass http://127.0.0.1:8983;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    {% if dehydrated|cert_exists(solr.domain) -%}
    ############################################################################
    # HTTPS
    ############################################################################
    ssl_certificate {{ dehydrated|cert_fullchain(solr.domain) }};
    ssl_certificate_key {{ dehydrated|cert_privkey(solr.domain) }};
    ssl_trusted_certificate {{ dehydrated|cert_chain(solr.domain) }};
    include {{ nginx.prefix.config }}/include/https_params.conf;
    {% endif %}
}
